.singlepost {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 100%;
}

.singlepost section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
}

.singlepost .post-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.singlepost .post-container img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.singlepost .post {
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}


.singlepost .post .date {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.singlepost .post .content {
    font-size: 18px;
    line-height: 1.8;
    color: #222222;
    text-align: justify;
    text-justify: inter-word;
    word-break: keep-all;
}

.singlepost .metafooter {
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 13px;
    display: flex;
    width: 100%;
}

.singlepost .author-name {
    color: #000000cc;
}

.singlepost .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 13px;
    cursor: pointer;
}

.singlepost .post-date,
.singlepost .dot,
.singlepost .readingtime {
    color: #0000008a;
}

.singlepost .dot:after {
    content: "\2010";
    margin-left: 7px;
    margin-right: 7px;
}

@media (max-width: 400px) {
.singlepost .post .content {
        font-size: 15px;
    }
}

@media (min-width: 767px) {
    .singlepost {
        width: 720px; 
    }
}


  